{% extends 'base_email.html' %}
{% load static humanize %}
{% block content%}
<table border="0" cellpadding="0" cellspacing="0" class="body" role="presentation">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table class="main" role="presentation">
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td class="align-center" style="font-weight:bold">
                                        <h2 style="color:#aeaeae;margin-top:10px">SAVE A TREE. DO NOT PRINT.</h2>
                                        <hr />
                                        <img src="https://sadis.flaglerschools.com/static/img/flagler_logo.png" width="84px" />
                                        <br>
                                        <p style="text-transform:uppercase">
                                            <span style="font-size:1.75em">Flagler County Public Schools</span>
                                            <br /><span style="font-size:2.1em">Digital Learning Movement</span>
                                        </p>
                                        <hr />
                                        <p style="text-transform:uppercase">
                                            <span style="font-size:4em;">{{ student.name }}</span>
                                        </p>
                                        {% comment %}
                                        <p>
                                            {% if bpi_bin %}
                                            <span style="font-size:2em;">{{ bpi_bin }}</span>
                                            {% else %}
                                            <span style="font-size: 1.15em">You weren't assigned a device last year or the device was retired. A new device will be assigned to you at your school location if you are a face-to-face student.</span>
                                            {% endif %}
                                        </p>
                                        {% endcomment %}
                                        <hr />
                                        <p style="font-size:1.8em;">
                                            Below is a digital copy of your registration information and signed agreement for your records.
                                        </p>
                                        <hr />
                                        <p>
                                            <a href="http://www.flaglerschools.com" target="_blank">www.flaglerschools.com</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table class="main" role="presentation">
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                            <tbody>
                                                <tr>
                                                    <td class="align-center" style="font-weight:bold">
                                                        <table>
                                                            <tr>
                                                                <td style="width:20%">
                                                                    <img src="https://sadis.flaglerschools.com/static/img/flagler_logo.png" width="60" />
                                                                </td>
                                                                <td style="width:80%">
                                                                    <p style="font-weight:bold;text-align:left">
                                                                        <span style="font-size:1.3em">Flagler County Public Schools</span>
                                                                        <br /><span style="font-size:1.15em">Digital Learning Movement Registration</span>
                                                                        <br /><span style="font-size:1.15em">School Year: 2023-2024</span>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="padding:10px;padding-bottom:0;font-weight:bold">STUDENT INFORMATION</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ student_first_name }}</p>
                                                    </td>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ student_last_name }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 0 10px;width:90%;border-top:#000 1px solid">First Name</p>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 0 10px;width:90%;border-top:#000 1px solid">Last Name</p>
                                                    </td>
                                                </tr>
                                                {% comment %}
                                                <tr>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ student_location }}</p>
                                                    </td>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px" valign="bottom">
                                                            {% if student_grade == 'KG' %}Kindergarten{% else %}{{ student_grade|ordinal }} Grade{% endif %}
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 10px 10px;width:90%;border-top:#000 1px solid">School</p>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 10px 10px;width:90%;border-top:#000 1px solid">Grade Level</p>
                                                    </td>
                                                </tr>
                                                {% endcomment %}
                                            </tbody>
                                        </table>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" style="padding:10px;padding-bottom:0;font-weight:bold">PARENT/GUARDIAN INFORMATION</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ parent_name }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 0 10px;width:95%;border-top:#000 1px solid">Name</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ parent_address }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 0 10px;width:95%;border-top:#000 1px solid">Address</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ parent_phone }}</p>
                                                    </td>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:10px;padding-bottom:0;width:90%;font-size:22px">{{ parent_email }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 10px 10px;width:90%;border-top:#000 1px solid">Phone Number</p>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 10px 10px;width:90%;border-top:#000 1px solid">Email Address</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="padding:5px 10px 10px">
                                            <span style="font-weight:bold">Please check that you have read and accept the terms and conditions of the following documents and board policies:</span>
                                            {% comment %} Updated: 05-03-2023 {% endcomment %}
                                            <br /><b>☑</b> <a href="https://drive.google.com/file/d/1qz9aFHWqNU60G4lJKPE1uqujOZbpX9u2/view" target="_blank">Digital Learning Movement Handbook</a>
                                            <br /><b>☑</b> <a href="https://docs.google.com/document/d/1u6wJq8KSo_PN7Fl4giPlj5KTiePduUM-rLOXKZ74RAw/view" target="_blank">Technology Repair and Replacement Fee Schedule</a>
                                            <br /><b>☑</b> <a href="https://go.boarddocs.com/fla/flcsd/Board.nsf/goto?open&id=9ABQDF68C5F5" target="_blank">School Board Policy 321: Electronic Systems Responsible Use</a>
                                        </div>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:20px 10px 10px;padding-bottom:0;width:90%;font-size:22px">{{ parent_signature }}</p>
                                                    </td>
                                                    <td>
                                                        <p style="margin:0;margin-left:10px;padding:20px 10px 10px;padding-bottom:0;width:90%;font-size:22px">{{ current_datetime }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 10px 10px;width:90%;border-top:#000 1px dashed">Parent/Guardian Electronic Signature</p>
                                                    </td>
                                                    <td style="width:50%">
                                                        <p style="font-weight:bold;margin:0 0 0 10px;padding:3px 0 10px 10px;width:90%;border-top:#000 1px solid">Date</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="padding:10px">
                                            <b>☑</b> I understand that by selecting this checkbox, I agree that my electronic signature constitutes a legal signature that has the same validity and meaning as my handwritten signature.
                                        </div>
                                        <div class="footer">
                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tr>
                                                    <td class="content-block">
                                                        <span class="apple-link">&copy; 2023-2024 Flagler County Public Schools</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
{% endblock %}
