<div class="uk-width-expand">
    <br>
    <div class="uk-padding-small uk-text-meta uk-text-center" style="padding-bottom: 0; border-top: #efefef 1px solid">
        <!-- Copyright &copy; 2020-2023 Flagler County Public Schools. All rights reserved. -->
    </div>
    <div id="external-link-modal-nas1" uk-modal="">
        <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
            <a class="uk-button uk-button-primary" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=" target="_blank" rel="noopener" uk-toggle="target: #external-link-modal-nas1">Yes, I want to leave the site</a>
        </div>
    </div>
    <!--
    <div class="uk-form-controls uk-form-controls-text">
        <b>Hello:</b> {{ request.user.get_full_name }} &centerdot; <b>Current Date / Time:</b> {{ current_datetime|date:'F d, Y H:i A' }}
    </div>
    -->
    <div class="uk-padding-small uk-text-meta uk-text-center">
        Copyright &copy; 2020-2023 Flagler County Public Schools. All rights reserved.
    </div>
</div>