{% load static minify %}{% lineless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SADIS | {% block title %}Normal Base{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/sadis.css' %}" />
        <script src="{% static 'js/uikit.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/fontawesome.js' %}" defer></script>
    </head>
    <body class="uk-height-1-1">
        {% block content %}{% endblock %}
        <script> </script>
    </body>
</html>{% endlineless %}
