<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FCSB | DLMR | Down for Maintenance</title>
        <link rel="stylesheet" href="https://sadis.flaglerschools.com/static/css/uikit.min.css" />
        <link rel="stylesheet" href="https://sadis.flaglerschools.com/static/css/sadis.css" />
        <script src="https://sadis.flaglerschools.com/static/js/uikit.js"></script>
        <script src="https://sadis.flaglerschools.com/static/jquery.js"></script>
        <script src="https://sadis.flaglerschools.com/static/js/fontawesome.js" defer></script>
    </head>
    <body class="uk-height-1-1">
        <div class="uk-grid-collapse uk-child-width-1-1" data-uk-grid>
            <div class="uk-width-2-3@m" style="z-index:999">
                <div class="uk-cover-container uk-light">
                    <img data-src="https://sadis.flaglerschools.com/static/img/devices/form_macbook.jpg" alt="" data-uk-cover data-uk-img>
                    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-relative" style="background-color: rgba(0, 0, 0, 0.5);">
                        <div class="device-form-header uk-container uk-container-small uk-flex-auto">
                            <div class="uk-text-center uk-margin-small-top">
                                <img src="https://sadis.flaglerschools.com/static/img/flagler_logo-white.png" width="96px" />
                            </div>
                            <h1 class="uk-heading-line uk-text-center uk-margin-small-bottom" style="margin-top:14px"><span>Digital Learning Movement Registration</span></h1>
                            <div class="uk-width-4-5@m uk-margin-auto uk-text-center">
                                <p class="uk-text-large">
                                    <span class="uk-text-bold">We are currently down for maintenance.</span>
                                    <br />We will be back online shortly.
                                </p>
                                <div class="uk-margin-large-top uk-margin-small-bottom uk-text-center uk-text-bold">
                                    <i class="fas fa-arrow-circle-down fa-3x uk-hidden@m"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
