{% extends 'base-fa6.html' %}
{% load humanize qurl static %}
{% block title %}L5 Lane Queue ({{ entries_count }}){% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/select2.css' %}" />{% endblock %}
{% block extra_js %}<script src="{% static 'js/select2.js' %}"></script>{% endblock %}
{% block content %}
<div class="uk-section uk-section-muted uk-padding uk-padding-remove-top">
    <div class="uk-width-1-1" style="margin-left: auto; margin-right: auto">
        <div class="uk-grid-small uk-child-width-1-1" uk-grid>
            {% include 'users/distributions_search.html' %}
            <div class="uk-margin-top uk-margin-left">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <i class="fas fa-project-diagram fa-2x"></i>
                    </div>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Distributions: L5 Queue</h3>
                    </div>
                    <div id="queue-information" class="uk-width-1-3 uk-padding-remove">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-body uk-text-large uk-text-right filterlist-body">
                                <div class="uk-grid-small uk-flex-middle" data-uk-grid>
                                    <div class="uk-width-auto">
                                        <a class="uk-button uk-button-primary" uk-toggle="#l5q-issue-modal"><i class="fas fa-plus uk-margin-small-right"></i>New Issue</a>
                                    </div>
                                    <div class="uk-width-expand uk-text-right">
                                        {{ entries_count }} Student(s) in Queue
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-footer uk-text-small filterlist-header">
                                <div class="uk-width-expand uk-text-right">Assigned Today: <span class="uk-text-primary">{{ devices_assigned_today }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-grid-small uk-child-width-1-1" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default">
                            <table class="uk-table uk-table-hover uk-table-small uk-table-middle uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="uk-width-auto">Location</th>
                                        <th class="uk-width-auto">EC</th>
                                        <th class="uk-width-auto">Form</th>
                                        <th class="uk-width-auto">Payment</th>
                                        <th class="uk-wdith-auto">Issue</th>
                                        <th class="uk-width-auto">Bin</th>
                                        <th class="uk-width-auto">BPI</th>
                                        <th class="uk-width-auto">Stager</th>
                                        <th class="uk-width-auto">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for user in entries %}
                                    <tr class="uk-table-link">
                                        <td class="uk-table-link">
                                            <a class="uk-link-reset" href="{% url 'users:detail_students' user.student.id %}">
                                                <div class="uk-width-1-1">{{ user.student.name }} <span class="uk-text-meta uk-visible@m">{{ user.student.username}}</span></div>
                                                <div class="uk-width-1-1 uk-text-meta uk-hidden@m"><i class="fas fa-user"></i> {{ user.student.username}}</div>
                                                <div class="uk-text-meta uk-text-left uk-margin-remove-top">
                                                    <i class="fas fa-info"></i> {{ user.vehicle_description }}
                                                    <br />
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            {{ user.student.location.alias }}
                                            <br /><span class="uk-text-meta"><i class="fas fa-graduation-cap"></i> {% if user.student.grade == 'KG' %}Kindergarten{% else %}{{ user.student.grade|ordinal }}{% endif %}</span>
                                        </td>
                                        <td>
                                        {% if user.student.role %}
                                            {% if user.student.role.id == 'OTO' %}
                                            1:1
                                            {% else %}
                                            {{ user.student.role.id }}
                                            {% endif %}
                                        {% else %}
                                            None
                                        {% endif %}
                                        </td>
                                        <td class="uk-text-bold">
                                        {% for top_key, top_value in form_payment.items %}
                                            {% if top_key == user.student.id %}
                                            {% for sub_key, sub_value in top_value.items %}
                                                {% if sub_key == 'form' and sub_value == True %}
                                                <i class="fas fa-check" style="color: #0d0"></i>
                                                {% elif sub_key == 'form' and sub_value == False %}
                                                <i class="fas fa-times" style="color: #d00"></i>
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td class="uk-text-bold">
                                        {% for top_key, top_value in form_payment.items %}
                                            {% if top_key == user.student.id %}
                                            {% for sub_key, sub_value in top_value.items %}
                                                {% if sub_key == 'paid' and sub_value == True %}
                                                <i class="fas fa-check" style="color: #0d0"></i>
                                                {% elif sub_key == 'paid' and sub_value == False %}
                                                <i class="fas fa-times" style="color: #d00"></i>
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td>
                                            {{ user.get_issue_type_display }}
                                            <br /><span class="uk-text-meta">{{ user.author.username }}</span>
                                        </td>
                                        <td>
                                        {% for top_key, top_value in bpi_bin.items %}
                                            {% if top_key == user.student.id %}
                                            {% for sub_key, sub_value in top_value.items %}
                                                {% if sub_key == 'bin' %}
                                                {{ sub_value }}
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td>
                                        {% for top_key, top_value in bpi_bin.items %}
                                            {% if top_key == user.student.id %}
                                            {% for sub_key, sub_value in top_value.items %}
                                                {% if sub_key == 'bpi' %}
                                                {{ sub_value }}
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                        <td>
                                        {% for top_key, top_value in bpi_bin.items %}
                                            {% if top_key == user.student.id %}
                                            {% for sub_key, sub_value in top_value.items %}
                                                {% if sub_key == 'stager' %}
                                                {{ sub_value }}
                                                {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if user.iiq_ticket_number != None %}
                                        <br /><span class="uk-text-meta">{{ user.iiq_ticket_number }}</span>
                                        {% endif %}
                                        </td>
                                        <td>
                                        {% for top_key, top_value in form_payment.items %}
                                            {% if top_key == user.student.id %}
                                                {% for sub_key, sub_value in top_value.items %}
                                                    {% if sub_key == 'form' and sub_value == True %}
                                                        {% for top_key, top_value in bpi_bin.items %}
                                                            {% if top_key == user.student.id %}
                                                            {% for sub_key, sub_value in top_value.items %}
                                                                {% if sub_key == 'owned' and sub_value == True %}
                                                                    <span class="uk-text-muted">Assigned</span>
                                                                {% elif sub_key == 'owned' and sub_value == False %}
                                                                    {% for sub_key, sub_value in top_value.items %}
                                                                        {% if sub_key == 'bpi' and sub_value != None %}
                                                                            {% if user.student.iiq_id %}
                                                                            <button data-id="{{ sub_value }}" data-queueid="{{ user.id }}" data-student="{{ user.student.id }}" data-ticket="{{ user.iiq_ticket }}" class="assign uk-button uk-button-small uk-button-danger">Assign</button>
                                                                            {% else %}
                                                                            <span class="uk-text-muted">No UUID</span>
                                                                            {% endif %}
                                                                        {% elif sub_key == 'bpi' and sub_value == None %}
                                                                        <span class="uk-text-muted">No Bin/BPI</span>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% elif sub_key == 'form' and sub_value == False %}
                                                    <span class="uk-text-muted">No Form</span>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td style="text-align:center" colspan="11">No students are currently in the queue.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START: L5Q Issue Module -->
<div id="l5q-issue-modal" class="uk-modal" uk-modal>
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">L5Q New Issue</h2>
        </div>
        <form id="l5q-existing-form" class="uk-form-vertical" method="POST">
            {% csrf_token %}
            <div id="l5q-issue-body" class="uk-modal-body">
                <div class="uk-margin-small-bottom">
                    <div>
                        <div class="uk-form-label uk-text-bold">Find student:</div>
                        <select id="existing-student-search" style="width: 100%">
                            <option></option>
                        </select>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="existing-student-issue">Issue type:</label>
                        <div class="uk-form-controls">
                            <div class="uk-grid-small" data-uk-grid>
                                <div>
                                    <input class="uk-radio" type="radio" name="existing_student_issue" value="R" required /> Registration
                                </div>
                                <div>
                                    <input class="uk-radio" type="radio" name="existing_student_issue" value="ND" /> New Device
                                </div>
                                <div>
                                    <input class="uk-radio" type="radio" name="existing_student_issue" value="NI" /> No Issue
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="existing-student-vehicle">Vehicle description:</label>
                        <input id="existing-student-vehicle" class="uk-input" placeholder="Spot 1: Blue Civic" required />
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button id="l5q-existing-submit" type="submit" class="uk-button uk-button-danger">Submit</button>
                <a class="uk-button uk-button-default uk-modal-close" onClick="window.location.href=window.location.href">Close</a>
            </div>
        </form>
    </div>
</div>
<!-- END: L5Q Issue Module -->
<!-- START: Assign Device -->
<div id="assign-device-modal" data-uk-modal>
    <div class="uk-modal-dialog">
        <form id="assign-device-form" class="uk-margin-large" method="POST">
            {% csrf_token %}
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Confirm Assignment</h2>
            </div>
            <div id="assign-device-body" class="uk-modal-body">
                <div class="uk-margin">
                    <div class="uk-form-label uk-text-bold">Device BPI:</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <input class="uk-input uk-width-1-1" type="text" name="confirm_bpi_number" required>
                    </div>
                </div>
                <hr />
                <div class="uk-margin uk-grid-small" data-uk-grid>
                    <div class="uk-width-1-2">
                        <label class="uk-form-label">
                            <input id="assign-charger" name="assign-charger" type="checkbox" class="uk-checkbox" /> Assign Charger with Device
                        </label>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-grid-small uk-child-width-1-1" data-uk-grid>
                            <div>
                                <select id="assign-charger-type" name="assign-charger-type" class="uk-select" disabled="">
                                    <option value="">-</option>
                                    {% for type in charger_types %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <div class="uk-grid-small" data-uk-grid>
                                    {% for condition in charger_conditions %}
                                    <label class="uk-form-label">
                                        <input id="assign-charger-condition" type="radio" name="charger-condition" value="{{ condition.id }}" class="uk-radio" disabled="" /> {% if condition.id == 'UG' %}Used{% else %}{{ condition.name }}{% endif %}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var assign_charger = document.getElementById("assign-charger");
                    var assign_charger_type = document.getElementById("assign-charger-type");

                    var assign_charger_condition_node = document.querySelectorAll("input[name=charger-condition]");
                    var assign_charger_condition = [...assign_charger_condition_node];

                    assign_charger.addEventListener('change', function() {
                        if (this.checked) {
                            assign_charger_type.removeAttribute("disabled");
                            assign_charger_type.setAttribute("required", "");

                            assign_charger_condition.forEach((condition, index) => {
                                condition.removeAttribute("disabled");

                                if (index == 0) {
                                    condition.setAttribute("required", "");
                                }
                            });
                        } else {
                            assign_charger_type.removeAttribute("required");
                            assign_charger_type.setAttribute("disabled", "");

                            assign_charger_condition.forEach(condition => {
                                condition.checked = false;
                                condition.removeAttribute("required");
                                condition.setAttribute("disabled", "");
                            });
                        }
                    });
                </script>
                <div id="assign-case-selection" class="uk-margin uk-grid-small" data-uk-grid>
                    <div class="uk-width-1-2">
                        <label class="uk-form-label">
                            <input id="assign-case" name="assign-case" type="checkbox" class="uk-checkbox" /> Assign Case with Device
                        </label>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label uk-text-bold">Meta information:</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        Author: {{ request.user.get_full_name }}
                        <br />Timestamp: {{ current_datetime|date:'F d, Y ~H:i A' }}
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <div class="uk-grid-small" data-uk-grid>
                    <div class="uk-width-expand"></div>
                    <div class="uk-width-auto">
                        <button id="assign-device-submit" type="submit" class="uk-button uk-button-danger">Confirm</button>
                    </div>
                    <div class="uk-width-auto">
                        <a class="uk-button uk-button-default uk-modal-close" onClick="window.location.href=window.location.href">Close</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#existing-student-search').select2({
        placeholder: 'Search for student...',
        width: 'resolve',
        minimumInputLength: 2,
        ajax: {
            delay: 500,
            dataType: 'json',
            type: 'POST',
            data: function (params) {
                return {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'existing-student-search',
                    search: params.term,
                }
            },
            processResults: function(data, params) {
                return {
                    results: $.map(data, function(item) {
                        return {
                            id: item.id,
                            text: item.text
                        }
                    })
                };
            }
        }
    });

    var bpi_to_match, student_assigned_to_bpi, queue_id;

    $(document).on("click", ".assign", function(event) {
        event.preventDefault();

        $(".uk-alert-success").remove();
        $(".uk-alert-danger").remove();
        $("input[name=confirm_bpi_number]").val("");
        $("input[name=confirm_bpi_number]").removeAttr("disabled");
        $("#assign-device-submit").removeAttr("disabled");

        bpi_to_match = $(this).data('id');
        student_assigned_to_bpi = $(this).data('student');
        queue_id = $(this).data('queueid');

        UIkit.modal('#assign-device-modal').show();
    });

    $(document).on("submit", "#l5q-existing-form", function(event) {
        event.preventDefault();

        $('#l5q-existing-submit').replaceWith('<div id="l5q-existing-loading"><i class="fas fa-sync fa-2x fa-spin" style="color: #f0506e"></i></div>');

        $.ajax({
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                action: "l5q-existing-submit",
                student_id: $("#existing-student-search").val(),
                student_issue: $("input[name=existing_student_issue]:checked").val(),
                student_vehicle: $("#existing-student-vehicle").val()
            },
            success: function(json) {
                document.getElementById("l5q-existing-form").reset();
                $('#l5q-issue-body').prepend(
                    '<div>' +
                        '<div class="uk-alert-success" uk-alert>' +
                            '<a class="uk-alert-close" uk-close></a>' +
                            '<p>The student has been successfully added to the queue!</p>' +
                        '</div>' +
                    '</div>'
                );
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
                $('#l5q-issue-body').prepend(
                    '<div>' +
                        '<div class="uk-alert-danger" uk-alert>' +
                            '<a class="uk-alert-close" uk-close></a>' +
                            "<p>Something went wrong! I have no idea what, but seeing as how this section is multiple choice it probably isn't good.</p>" +
                        '</div>' +
                    '</div>'
                );
            },
            complete: function() {
                $('#l5q-existing-loading').replaceWith('<button id="l5q-existing-submit" type="submit" class="uk-button uk-button-danger">Submit</button>');
            }
        });
    });

    $(document).on("submit", "#l5q-new-form", function(event) {
        event.preventDefault();

        $('#l5q-new-submit').replaceWith('<div id="l5q-new-loading"><i class="fas fa-sync fa-spin uk-margin-small-right" style="color: #f0506e"></i></div>');

        $.ajax({
            type: "POST",
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                action: "l5q-new-submit",
                student_first_name: $("#student-first-name").val(),
                student_last_name: $("#student-last-name").val(),
                student_other_id: $("#student-other-id").val(),
                student_username: $("#student-username").val(),
                student_location_id: $("#student-location-id").val(),
                student_grade: $("#student-grade").val(),
                student_vehicle: $("#new-student-vehicle").val()

            },
            success: function(json) {
                document.getElementById("l5q-new-form").reset();

                $('#l5q-issue-body').prepend(
                    '<div>' +
                        '<div class="uk-alert-success" uk-alert>' +
                            '<a class="uk-alert-close" uk-close></a>' +
                            '<p>The student has been successfully sideloaded!</p>' +
                        '</div>' +
                    '</div>'
                );
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);

                $('#l5q-issue-body').prepend(
                    '<div>' +
                        '<div class="uk-alert-danger" uk-alert>' +
                            '<a class="uk-alert-close" uk-close></a>' +
                            '<p>Something went wrong! Try again after verifying the information, but if the issue persists please contact a SADIS administrator for assistance.</p>' +
                        '</div>' +
                    '</div>'
                );
            },
            complete: function() {
                $('#l5q-new-loading').replaceWith('<button id="l5q-new-submit" type="submit" class="uk-button uk-button-danger">Submit</button>');
            }
        });
    });

    $(document).on("submit", "#assign-device-form", function(event) {
        event.preventDefault();

        if (bpi_to_match == $("input[name=confirm_bpi_number]").val()) {

            $('#assign-device-submit').replaceWith('<div id="assign-device-working"><i class="fas fa-sync fa-spin uk-margin-small-right" style="color: #f0506e"></i></div>')

            $.ajax({
                type: "POST",
                data: {
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                    action: "assign-bpi-to-student",
                    bpi_to_assign: bpi_to_match,
                    student_to_assign: student_assigned_to_bpi,
                    queue_id: queue_id,
                    assign_charger: $("input[name=assign-charger]").prop("checked"),
                    assign_charger_type: $("#assign-charger-type").val(),
                    assign_charger_condition: $("#assign-charger-condition").val(),
                    assign_case: $("input[name=assign-case]").prop("checked")
                },
                success: function(json) {
                    if (json.assign_response == true) {
                        $("#assign-device-body").prepend(
                            '<div class="uk-alert-success" uk-alert>' +
                                '<p>Device was successfully assigned! You can now close this window.</p>' +
                            '</div>'
                        );

                        $("input[name=confirm_bpi_number]").attr("disabled", "true");
                        $("#assign-device-working").replaceWith('<button id="assign-device-submit" type="submit" class="uk-button uk-button-danger" disabled>Confirm</button>');
                    } else {
                        $("#assign-device-body").prepend(
                            '<div class="uk-alert-danger" uk-alert>' +
                                '<a class="uk-alert-close" uk-close></a>' +
                                '<p><b>ERROR:</b> IncidentIQ rejected the assignment with an error code of 409; there is likely no IIQ UUID for the student.</p>' +
                            '</div>'
                        );
                    }

                    document.getElementById("assign-device-form").reset();
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        } else {
            $("#assign-device-body").prepend(
                '<div class="uk-alert-danger" uk-alert>' +
                    '<a class="uk-alert-close" uk-close></a>' +
                    '<p><b>ERROR:</b> The BPI you entered does not match the assignment given in the database. Please double check the BPI you are entering.</p>' +
                '</div>'
            );
        }
    });
});
</script>
<!-- END: Assign Device -->
{% endblock %}
