<div>   
    <H3>Emergency Contact Information</H3>
    <p>Please provide the following information for your child: </p>
    <ul class="uk-child-width-expand" uk-tab>
        <li id="ECI_family_one"><a>Family #1:</a></li>
        <li id="ECI_family_two"><a>Family #2:</a></li>
    </ul>
    <ul class="uk-switcher uk-margin">
        <li id="ECI_family_one_content">
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f1parent1_name">Father or Legal Guardians Name <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f1parent1-name" class="uk-input" name="ECI_f1parent1_name" type="text" placeholder="Family 1: Father or Legal Guardian" data-parsley-required="false" autocomplete="name">
                </div>
            </div>
            <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                <div>
                    <label class="uk-form-label" for="ECI_f1parent1_phone">Cell Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f1parent1-phone" class="uk-input phone" name="ECI-f1parent1_cphone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
                <div>
                    <label class="uk-form-label" for="ECI_f1parent_phone1">Daytime Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f1parent1-phone" class="uk-input phone" name="ECI_f1parent1_phone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f1parent2_name">Mother or Legal Guardians Name <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f1parent2-name" class="uk-input" name="ECI_f1parent2_name" type="text" placeholder="Family 1: Mother or Legal Guardian" data-parsley-required="false" autocomplete="name">
                </div>
            </div>
            <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                <div>
                    <label class="uk-form-label" for="ECI_f1parent2_phone">Cell Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f1parent2-phone" class="uk-input phone" name="ECI-f1parent2_cphone" type="tel" placeholder="(234) 567-8910" data-parsley-required="true" autocomplete="tel">
                    </div>
                </div>
                <div>
                    <label class="uk-form-label" for="ECI_f1parent2_phone">Daytime Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f1parent2-phone" class="uk-input phone" name="ECI_f1parent2_phone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f1parent_name">Parent or Legal Guardians Email <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f1parent-email" class="uk-input" name="ECI_f1parent_email" type="email" placeholder="familyOne@domain.com" data-parsley-required="false" autocomplete="email">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f1parent_address">Residence Address <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f1parent-address" class="location uk-input" name="ECI_f1parent_address" type="text" placeholder="500 E Moody Blvd, Bunnell, FL 32110" data-parsley-required="false" autocomplete="street-address">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f1parent_maddress">Mailing Address(if different from above) <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f1parent-maddress" class="location uk-input" name="ECI_f1parent_maddress" type="text" placeholder="500 E Moody Blvd, Bunnell, FL 32110" data-parsley-required="false" autocomplete="street-address">
                </div>
            </div>
        </li>
        <li id="ECI_family_two_content">
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f2parent1_name">Father or Legal Guardians Name <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f2parent1-name" class="uk-input" name="ECI_f2parent1_name" type="text" placeholder="Family 2: Father or Legal Guardian" data-parsley-required="false" autocomplete="name">
                </div>
            </div>
            <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                <div>
                    <label class="uk-form-label" for="ECI_f2parent1_phone">Cell Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f2parent1-phone" class="uk-input phone" name="ECI-f2parent1_cphone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
                <div>
                    <label class="uk-form-label" for="ECI_f2parent_phone1">Daytime Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f2parent1-phone" class="uk-input phone" name="ECI_f2parent1_phone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f2parent2_name">Mother or Legal Guardians Name <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f2parent2-name" class="uk-input" name="ECI_f2parent2_name" type="text" placeholder="Family 2: Mother or Legal Guardian" data-parsley-required="false" autocomplete="name">
                </div>
            </div>
            <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                <div>
                    <label class="uk-form-label" for="ECI_f2parent2_phone">Cell Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f2parent2-phone" class="uk-input phone" name="ECI-f2parent2_cphone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
                <div>
                    <label class="uk-form-label" for="ECI_f2parent2_phone">Daytime Phone Number <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                        <input id="ECI-f2parent2-phone" class="uk-input phone" name="ECI_f2parent2_phone" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f2parent_name">Parent/Legal Guardians Email <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f2parent-email" class="uk-input" name="ECI_f2parent_email" type="email" placeholder="familyTwoe@domain.com" data-parsley-required="false" autocomplete="email">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f2parent_address">Residence Address <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f2parent-address" class="location uk-input" name="ECI_f2parent_address" type="text" placeholder="500 E Moody Blvd, Bunnell, FL 32110" data-parsley-required="false" autocomplete="street-address">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="ECI_f2parent_maddress">Mailing Address(if different from above) <span class="uk-text-danger">*</span></label>
                <div class="uk-form-controls">
                    <input id="ECI-f2parent-maddress" class="location uk-input" name="ECI_f2parent_maddress" type="text" placeholder="500 E Moody Blvd, Bunnell, FL 32110" data-parsley-required="false" autocomplete="street-address">
                </div>
            </div>
        </li>
    </ul>
<br>
<hr>
<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
    <h3>Custody Issues:</h3>
        <p>It is the parent/guardian’s responsibility to notify the school of any special custody arrangements and any changes to the information contained on this form.</p>
        <p><b>Custody paperwork must be on file with your school.</b></p>
        <p><input class="uk-checkbox" type="checkbox">  Please check the box if custody paperwork is on file with the school.</p>
</div>
<hr>
<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid"></div>
    <div>
        <h3>Student Pickup</h3>
            <p>Persons other than a parent/guardian who may check student out of school or who will care for the student in case parent/guardian cannot be reached.</p>
            <p><b>Only parents/guardians and these individuals may check a student out of school with an ID.</b></p>
        <ul uk-accordion="multiple: true">
            <li class="uk-open">
                <a class="uk-accordion-title" href="#">Add individual #1</a>
                <div class="uk-accordion-content">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="parent_name">Full Name <span class="uk-text-danger">*</span></label>
                        <div class="uk-form-controls">
                            <input id="pickup-name-05" class="uk-input" name="pickup_name_05" type="text" placeholder="Individual 5" data-parsley-required="false" autocomplete="name">
                        </div>
                    </div>
                    <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="parent_phone">Phone Number <span class="uk-text-danger">*</span></label>
                            <div class="uk-form-controls">
                                <input id="pickup-phone-05" class="uk-input phone" name="pickup_phone_05" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                            </div>
                        </div>
                        <div>
                            <label class="uk-form-label" for="parent_phone">Relationship <span class="uk-text-danger">*</span></label>
                            <div class="uk-form-controls">
                                <input id="pickup-rel-05" class="uk-input phone" name="pickup_rel_05" type="tel" placeholder="enter relationship here" data-parsley-required="false" autocomplete="relate">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Add individual #2</a>
                <div class="uk-accordion-content">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="parent_name">Full Name <span class="uk-text-danger">*</span></label>
                        <div class="uk-form-controls">
                            <input id="pickup-name-06" class="uk-input" name="pickup_name_06" type="text" placeholder="Individual 6" data-parsley-required="false" autocomplete="name">
                        </div>
                    </div>
                    <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="parent_phone">Phone Number <span class="uk-text-danger">*</span></label>
                            <div class="uk-form-controls">
                                <input id="pickup-phone-06" class="uk-input phone" name="pickup_phone_06" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                            </div>
                        </div>
                        <div>
                            <label class="uk-form-label" for="parent_phone">Relationship <span class="uk-text-danger">*</span></label>
                            <div class="uk-form-controls">
                                <input id="pickup-rel-06" class="uk-input phone" name="pickup_rel_06" type="tel" placeholder="enter relationship here" data-parsley-required="false" autocomplete="relate">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Add individual #3</a>
                <div class="uk-accordion-content">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="parent_name">Full Name <span class="uk-text-danger">*</span></label>
                        <div class="uk-form-controls">
                            <input id="pickup-name-07" class="uk-input" name="pickup_name_07" type="text" placeholder="Individual 7" data-parsley-required="false" autocomplete="name">
                        </div>
                    </div>
                    <div class="uk-grid-small uk-child-width-1-2" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="parent_phone">Phone Number <span class="uk-text-danger">*</span></label>
                            <div class="uk-form-controls">
                                <input id="pickup-phone-07" class="uk-input phone" name="pickup_phone_07" type="tel" placeholder="(234) 567-8910" data-parsley-required="false" autocomplete="tel">
                            </div>
                        </div>
                        <div>
                            <label class="uk-form-label" for="parent_phone">Relationship <span class="uk-text-danger">*</span></label>
                            <div class="uk-form-controls">
                                <input id="pickup-rel-07" class="uk-input phone" name="pickup_rel_07" type="tel" placeholder="enter relationship here" data-parsley-required="false" autocomplete="relate">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="uk-margin uk-text-center">
    <button type="button" class="next uk-button uk-button-primary">Next<i class="fas fa-angle-right uk-margin-small-left"></i></button>
</div>
