<div class="uk-margin">
    <H3>Media Parent Choice</H3>
    <p>The district understands parents and guardians play a major role in guiding their child’s reading and media center use. It is important that each family has the right to determine which library resources are acceptable for its children and that we afford that right to each family. The district strives to provide appropriate educational, intellectual and physical access to resources that provide for a wide range of abilities and differing points of view.  This process in no way negates our responsibility to ensure that the materials that are in our media centers align to state statutes but provides families with additional choice around all available media materials. </p>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-radio" type="radio" name="mclevel"> <b> Level 1: Open Access:</b> Students are able to select books at their discretion. There are some levels of books that require parent permission before a student can check them out..</label><br>
            <label><input class="uk-radio" type="radio" name="mclevel"> <b> Level 2: Limited Access:</b> Families may submit a list of up to 5 books that students are NOT allowed to check-out. Outside of the 5 books that students are NOT allowed to check-out, students have the same access to Level 1.</label><br>
            <label><input class="uk-radio" type="radio" name="mclevel"> <b> Level 3: Pre-Approval:</b> A parent/guardian will pre-approve all books before a student checks them out.</label>
        </div>
</div>
<div class="uk-margin uk-text-center">
    <button type="button" class="previous uk-button uk-button-primary"><i class="fas fa-angle-left uk-margin-small-right"></i>Previous</button>
    <button type="button" class="next uk-button uk-button-primary">Next<i class="fas fa-angle-right uk-margin-small-left"></i></button>
</div>