<div class="uk-margin">
    <H3>ANNUAL CONSENT FOR SCHOOL CLINIC SERVICES</H3>
    <p>Per state statute, parental consent is required for the following healthcare services listed below. If you agree to allow your student to receive any or all of the services below if/when they are needed, please check the appropriate boxes in each section. Please complete a form for each of your students. </p>
    <p></p>
    <p>Emergency services will be provided to all students according to the standards found in the Florida Emergency Guidelines for Schools. <a href="https://www.floridahealth.gov/programs-and-services/childrens-health/school-health/_documents/emergency-guidelines-for-schools-2019.pdf" target="_blank">Florida Health Emergency School Guidelines</a></p>
    <p></p>
    <p>As required by statute, a new form must be completed each year for each student.</p>
    <p></p>
    <p>Healthcare Services: Please check the boxes below to consent to the individual healthcare services your student is to receive if/when needed:</p>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_1"><b> Basic First Aid Services</b> (Nose, ear/throat check, blood pressure monitoring, temperature check)</label><br>
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_2"><b> For Minor Wound Care</b>  (cuts, scrapes, and abrasions)</label><br>
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_3"><b> For Minor Eye Irritation</b>  </label><br>
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_4"><b> For Minor Bites and/or Stings</b>  </label><br>
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_5"><b> For Minor Upset Stomach and/or Indigestion</b>  </label><br>
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_6"><b> Skin check for rashes</b>  (exposed areas and limbs only)</label><br>
    </div>
    <p><b>OR</b></p>
    <p>Healthcare Services: Please check the box below to consent to ALL School-based Illness Assessment services.</p>
    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-checkbox" type="checkbox" name="scs_opt_all"><b> I consent to <b>All</b> School-based Illness Assessments listed above.</label><br>
    </div>
    <p></p>
    <hr>
    <p>Informational Purposes Only</p>
    <p><b>Health Assessment</b></p>
    <p>Separate written consent forms will be furnished when these screenings and/or services are made available at each school. </p>
    <p>
        <ul>
            <li>Vision screening (grades KG, 1, 3, and 6 including new K-6 students)</li>
            <li>Hearing screening (grades KG, 1, and 6 including new K-6 students)</li>
            <li>Height/Weight BMI screening (grade KG, 1, 3 and 6 including new K-6 students)</li>
            <li>Scoliosis (grade 6 only)</li>
            <li>Specific Health Screening (By request or as needed PK through 12 grades)</li>
        </ul>
    </p>
    <hr>
    <div class="uk-margin">
        <label class="uk-form-label" for="parent_signature">Electronic Signature <span class="uk-text-danger">*</span></label>
        <div class="uk-form-controls">
            <input id="parent-signature" class="uk-input" name="parent_signature" type="text" placeholder="John Jacob Doe" data-parsley-required="true" autocomplete="name">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-grid-small" data-uk-grid>
            <div class="uk-width-auto" style="line-height: 75px">
                <input id="parent-agreement" class="uk-checkbox" type="checkbox" name="parent_signature_agreement" data-parsley-required="true">
            </div>
            <div class="uk-width-expand">
                <p>I understand that by selecting this checkbox, I agree that my electronic signature constitutes a legal signature that has the same validity and meaning as my handwritten signature.</p>
            </div>
        </div>
    </div>
    <div class="uk-margin uk-text-center">
        <button type="button" class="oto-submit uk-button uk-button-primary uk-width-1-1">Submit<i class="fas fa-check-double uk-margin-small-left"></i></button>
    </div>
</div>
